<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/students/home">Home</a>
    <a href="/students/about">About</a>
    <a href="/students/services">Service</a>
    <a href="/students/contact">Contact</a>
    <a href="/students/course">Course</a>
    <a href="/students/search">Course</a>
    <table border="1" cellpadding="10" cellspacing="0" align="center">
        <tr>
            <th>Name</th>
            <th>Roll No</th>
            <th>Update</th>
        </tr>
        <%
        Student.forEach((key)=>{ %>
           <tr>
             <td> <%= key.name %> </td>
             <td> <%= key.rollno %> </td>
             <td> <%= key.rollno %> </td>
           </tr>
           <%
        })
        %>
    </table>
</body>
</html>