*{
    font-family: sans-serif;
}

.top-header-container {
  display: flex;
  padding: 15px 245px;
  align-items: center;
  justify-content: space-between;
}

/* Left side */
.left-container {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 15px;
}

/* Logo */
.logo {
  height: 40px;
  width: 190px;
  display: flex;
  font-weight: 900;
  font-size:20px;
  /* border: 1px solid black; */
  flex-direction: row;
  padding-top: 5px;
}

.circle{
    height: 17px;
    width: 17px;
    background: #0940f5cf;
    border-radius: 8.5px;
    top: 0px;
    left: 10px;
    position: relative;
    opacity: 0.4;
}

/* Navigation links */
.left-container a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-style: italic;
}

.left-container a:hover {
  color: #6a0dad; /* violet */
}

/* Right side */
.right-container {
  display: flex;
  gap: 20px;
}

.right-container p {
  cursor: pointer;
  font-weight: 500;
}

.right-container p:hover {
  color: #6a0dad;
}


.bottom-header-container{
    display: flex;
    padding: 17px 260px;
    background: #4e0185;
    gap: 480px;
    
}

.search-bar{
    height: 35px;
    width: 700px;
    /* border: 1px solid black; */
    border-radius: 5px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.search-icon{
    font-size: 18px;
    padding: 5px 0px;
    padding-left: 10px;
}

.search-bar input{
    width: 390px;
    border: none;
    padding: 5px 15px;
    margin: 0px 5px;
}

.search-button{
    height: 35px;
    width: 80px;
    background-color: red;
    box-sizing: border-box;
    /* border: 1px solid black; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    padding: 5px 15px;
}

.profile{
    height: 35px;
    width: 35px;
    background-color: white;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
