<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is Student home page</h1>
    <br> <br>
    <h3>Add new student to database</h3>
    <form action="/students/home" method="post">
        <label for="">Name : </label>
        <input type="text" name="name"> <br> <br>
        <label for="">Roll No : </label>
        <input type="number" name="rollno"> <br> <br>
        <input type="submit" value="Add Student">
    </form>
</body>
</html>